/***********************
Color Palette:
#5C3317 - Dark Brown
#804720 - Brown
#F7A26C - Tangerine
#CCAF9D - Desert Sand
#E76A1A - Spanish Orange
*************************/

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #CCAF9D;
}

header {
    background-color: #804720;
}

h1 {
    display: block;
    text-align: center;
    font-size: 2em;
    margin: 0 auto;
    color: #F7A26C;
}

h2 {

}

blockquote {
    display: block;
    text-align: center;
    font-size: 1.5em;
    margin: 0 auto;
    color: #F7A26C;
} 

nav img, .navmap {
    display: block;
    width: 92%;
    margin: 0 auto;
}

nav a {
    
}

nav a:hover {
    
}

table {

}

tr {

}

th, td {

}